<h1>Login</h1>

<form action="/login" method="POST">

  <label for="">Email:</label>
  <input type="text" name="email" id="" >

  <label for="">Password:</label>
  <input type="password" name="password" id="" >
  
  <button type="submit">Login</button>
</form>

{{> flashMessage}}
