<h1>Create an account</h1>

<form action="/register" method="POST">

  <label for="">Full name:</label>
  <input type="text" name="fullName" >

  <label for="">Email:</label>
  <input type="text" name="email" id="" >

  <label for="">Password:</label>
  <input type="password" name="password" id="" >
  
  <button type="submit">Create account</button>
</form>

{{> flashMessage}}
